<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ninja Registration</title>
	</head>
	<body>
		<h1>Join our Ninja Nation!</h1>
		<h2>
			Just fill out the form below and REMEMBER! - To be a ninja you have to be
			apart of a Dojo
		</h2>
		<h3>Right now unfortunately, you can only be a member of just one dojo.</h3>
		<form action="/createninja" method="POST">

			<label for="dojomenu">Select Your Dojo:</label>
			<select name="dojo_id">
				<option value="">Dojos</option>
				{% for dojo in dojos %}
				<option value="{{dojo.id}}">{{dojo.name}}</option>
				{% endfor %}
			</select>

                  <label for="first_name">First Name:</label>
                  <input type="text" name="first_name">

                  <label for="last_name">Last Name:</label>
                  <input type="text" name="last_name">

                  <label for="age">Age:</label>
                  <input type="text" name="age">

                  <button type="submit">Sumbit</button>

		</form>
	</body>
</html>
