/* style.css */

body {
      font-family: Arial, sans-serif;
  }

  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      padding: 8px;
      text-align: left;
  }

  thead {
      background-color: #333;
      color: white;
  }
  /* style.css */

caption {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}


  tr:nth-child(even) {
      background-color: #f2f2f2;
  }

  input[type="radio"] {
      vertical-align: middle;
  }

  button[type="submit"] {
      background-color: #e74c3c;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
  }
