      <!DOCTYPE html>
      <html lang="en">
      <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/90.css') }}">
            <title>Document</title>
      </head>
      <body style="background-color: blue; font-family: monospace;">
            <h1>">Its the 90s bro!</h1>
            {% for i in range(10) %}
            <p>Lorem ipsum dolor sit amet. Vel provident amet ut aperiam autem non tempore laudantium rem debitis esse ea totam neque.</p>
            {% endfor %}

      </body>
      </html>