      <!DOCTYPE html>
      <html lang="en">
      <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Suepr Cool HTML</title>
      </head>
      <body>
            <h1>Welcome to Flask!</h1>
            <h2>Reason Flask is cool:</h2>
            <a href="/90s">To the 90's</a>
            <ul>
                  <li>Lightweight</li>
                  <li>In python</li>
                  <li>Serves pages!</li>
                  <li>Did I mention in python?</li>
            </ul>
      </body>
      </html>