<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/css/style_edit.css">
      <title>User Update:</title>
</head>
<body>
      <a href="/">Back to Table</a>
      <h2>Please Enter your new information:</h2>
      <form action="/applyedit" method="POST">
            <label>Name: </label>
            <input placeholder="Replace old name: {{user.name}}" type ="text" name="name">

            <label>Phone: </label>
            <input placeholder="Replace old phone: {{user.phone}}" type="text" name="phone">

            <label>Email: </label>
            <input placeholder="Replace old phone: {{user.email}}" type="text" name="email">

            <input hidden value="{{user.id}}" name="id"></input>
            <button>Submit</button>
      </form>
</body>
</html>