      <!DOCTYPE html>
      <html lang="en">
      <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
      </head>
      <body>
            <h1>THIS WILL BE THE FORM</h1>
            <form action="/accept_form" method="POST">
                  <label>Name</label>
                  <input name="user_name" type="text">
                  <label>Credit Card Number</label>
                  <input name="user_card" type="text">
                  <label>Qty:</label>
                  <select name="qty">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                  </select>

                  <button>Buy!</button>


            </form>
      </body>
      </html>